.wrap{
    background-color: #fdfdfd;
}

.pc_header{
    padding: 0 200px;
}

section:not(.sec_1, .sec_2){
    width: 100%;
    padding: 200px;
}


h2{
    font-weight: 700;
    font-size: 46px;
    letter-spacing: -0.02em;
    color: #1B1B1B;
}

h3{
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -0.02em;
    color: #1B1B1B;
}

h4{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    color: #1B1B1B;
}

h5{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #1B1B1B;
}

h6{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
/* font size pc end */

.btn_wrap{
    display: flex;
    gap: 30px;
}

.btn a{
    width: 150px;
    height: 50px;
    display: flex;
    gap: 10px;
    padding: 12px 27px;
}

.btn h6{
    font-size: 18px;
    font-weight: 500;
}

.main_btn h6{
    color: #ffffff;
}

.btn{
    border-radius: 30px;
}

.home_btn{
    background: rgba(211, 211, 211, 0.7);
}

.main_btn{
    background-color: #E98300;
}

.btn_icon_wrap{
    position: relative;
}

.btn_icon{
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.hover_icon{
    opacity: 0;
    transition: 0.5s;
}

.none_icon{
    transition: 0.5s;
}

.btn:hover .hover_icon{
    opacity: 1;
}

.btn:hover .none_icon{
    opacity: 0;
}
/* btn style active hover end */

.title_wrap{
    text-align: center;
    margin-bottom: 50px;
}

.title_wrap h5{
    margin-bottom: 10px;
    opacity: 0.7;
}

.title_wrap h2{
    margin-bottom: 50px;
}

/* title_wrap_style end */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_4 .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec_4 .swiper-slide {
    position: relative;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.bg_4{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%);
}

.con_title_4{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: start;
}

.con_title_4 h3{
    color: #ffffff;
}

.con_title_4 h6{
    color: #ffffff;
    opacity: 0.7;
}

.sec_4 .swiper-slide img {
    display: block;
    width: 100%;
}

