@import url(reset.css);
@import url(common.css);

.pc_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
}

.logo{
    width: 120px;
}

.menu_wrap{
    display: flex;
    gap: 30px;
    margin-left: 200px;
}

.menu a{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.7;
    position: relative;
    transition: 0.5s;
}

.menu:hover a{
    opacity: 1;
}

.dot_h{
    position: absolute;
    top: -2px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E98300;
    transform: scale(0);
    transition: 0.5s;
}

.menu:hover .dot_h{
    transform: scale(1);
}
/* header end */

.sec_1{
    position: relative;
}

.title_wrap_1{
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    text-align: center;
}

.title_wrap_1 h2{
    font-size: 70px;
    color: #ffffff;
    letter-spacing: -4px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.point_1{
    color: #FFB617;
}

.sub_title_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.sub_title_1 h4{
    font-weight: 400;
    color: #ffffff;
}

.line_1{
    width: 55px;
    height: 2px;
    background-color: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullet-active {
    width: 30px;
    height: 10px;
    border-radius: 30px;
    background: #E98300;
}

.sec_1 .swiper .swiper-pagination-bullets {
    position: absolute;
    top: 890px;
    left: 48%;
    width: 100%;
    text-align: start;
}
/* sec_1 end */

.sec_2{
    padding: 0 200px;
    width: 100%;
    position: absolute;
    bottom: -300px;
    left: 50%;    
    transform: translateX(-50%);
    z-index: 50;
}

.con_wrap_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    justify-content: space-between;
}

.con_2{
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    margin-bottom: 50px;
}

.hover_con_2{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(360deg, rgba(27, 27, 27, 0.7) 0%, rgba(27, 27, 27, 0.35) 100%);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}

.con_title_wrap_2{
    position: absolute;
    left: 30px;
    bottom: 10px;
    transition: 0.5s;
}

.con_title_wrap_2 h3{
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

.con_title_wrap_2 h6{
    opacity: 0.7;
    color: #ffffff;
}

.hover_con_2:hover{
    opacity: 1;
}

.hover_con_2:hover .con_title_wrap_2{
    bottom: 30px;
}
/* sec_2 end */

.sec_3 {
    margin-top: 300px;
    text-align: center;
}

.con_wrap_3{
    margin: 0 auto;
    display: flex;
}

.con_3{
    position: relative;
    width: 100%;
}

.con_3_1{
    background: url(../img/sec_3/bg.png) no-repeat center / cover;
}

.con_3_2{
    background: url(../img/sec_3/bg-1.png) no-repeat center / cover;
}

.con_3_3{
    background: url(../img/sec_3/bg-2.png) no-repeat center / cover;
}

.con_3_dot{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(253, 253, 253, 0.5) 0%, rgba(253, 253, 253, 0) 100%);
    opacity: 0;
    transform: scale(0.7);
    transition: 0.5s;
}

.con_title_3{
    margin-top: 100px;
}

.icon_title{
    display: inline-block;
    height: 40px;
    background-color: #E98300;
    padding: 5px 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.icon_title h5{
    color: #ffffff;
}

.con_3 h4{
    color: #ffffff;
    margin-bottom: 140px;
}

.con_3_bar{
    margin: 0 auto;
    width: 3px;
    height: 50px;
    border-radius: 10px;
    background-color: #E98300;
    margin-bottom: 20px;
}

.con_3_price{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #ffffff;
}

.con_3:hover .con_3_dot{
    opacity: 1;
    transform: scale(1);
}

/* sec_3 end */
/* sec_4 end */
.sec_5, .sec_6{
    background-color: #1b1b1b;
}

.sec_5{
    position: relative;
}

.title_5 h2{
    font-size: 70px;
    color: #ffffff;
}

.point_5{
    color: #E98300;
}

.sub_title_5{
    text-align: end;
}

.sub_title_5 h4{
    margin-top: 150px;
    font-size: 50px;
    color: #ffffffab;
}

.sec_5 .main_btn{
    margin-top: 50px;
    float: right;
    width: 260px;
    height: 50px;
    padding-top: 12px;
    border-radius: 30px;
}

.sec_5 .main_btn a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_5 .main_btn h6{
    font-size: 18px;
    margin-right: 10px;
}

.elli_wrap{
    width: 550px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
}

.elli{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #e9840036;
}

.elli_1{
    width: 100px;
    animation-name: elli_ani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes elli_ani{
    0%{
        width: 100px;
    }
    
    100%{
        width: 590px;
        background-color: #e9840036;
    }
}

.elli_2{
    width: 200px;
}

.elli_3{
    width: 300px;
}

.elli_4{
    width: 450px;
}

.spon_wrap{
    position: absolute;
    left: 200px;
    bottom: 500px;
}

.spon_wrap h2{
    display: flex;
    justify-content: end;
    color: #FFB617;
    font-size: 90px;
    align-items: end;
    position: relative;
}

.spon_wrap h4{
    color: #ffffff;
    opacity: 0.7;
    font-weight: 400;
}

.perc_5{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
}

.arrow_5{
    position: absolute;
    top: 0;
    right: -55px;
    animation-name: perc_ani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes perc_ani{
    0%{
        top: 10px;
        opacity: 0.2;
    }

    100%{
        top: -40px;
        opacity: 1;
    }
}



