@import url(reset.css);
@import url(common.css);

.pc_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30;
}

.logo{
    width: 120px;
}

.menu_wrap{
    display: flex;
    gap: 30px;
    margin-left: 200px;
}

.menu a{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.7;
    position: relative;
    transition: 0.5s;
}

.menu:hover a{
    opacity: 1;
}

.dot_h{
    position: absolute;
    top: -2px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E98300;
    transform: scale(0);
    transition: 0.5s;
}

.menu:hover .dot_h{
    transform: scale(1);
}
/* header end */

.sec_1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
